footer{
    .widget--cf7-footer{
        width: 50%;
        display: flex;
        flex: 1 1 auto;
        .widget__title{
            width: 25%;
        }
    }

    .hds-text-input{
        &__input-wrapper{
            flex-direction: column !important;
            margin-bottom: spacing('xl');
            .wpcf7-not-valid-tip{
                margin-top: spacing('xs');
            }
        }
    }
    .wpcf7-not-valid-tip{
        color: #8D0D30;
        font-weight: 500;
    }
    .hds-text-input__error-text{
        color: #8D0D30;
        font-weight: 500;
        &:before{
            background: #8D0D30;

        }
    }
}
.wpcf7{
    form{
        .wpcf7-response-output{
            border: none;
            font-style: italic;
        }
    } 
}