.entry {
    &--grid{
        > a{
            &:focus, &:hover{
                .entry__title--grid{
                    text-decoration: underline;
                }
            }   
        }
    }
    &__title{
        &.entry__title--grid{
            font-size: var(--fontsize-heading-s);
            font-weight: 600;
            margin-bottom: var(--spacing-s);
            margin-top: 0;
        }
    }
    &__date{
        &.entry--grid{  
            margin-bottom: var(--spacing-s);
        }
    }
    &__excerpt{
        &--grid{
            line-height: var(--lineheight-s);
        }
    }
}