
.grid_margin{
    margin-top: var(--spacing-l) ;
    margin-bottom: var(--spacing-l);

    @include breakpoint('m'){
        margin-top: var(--spacing-3-xl) ;
        margin-bottom: var(--spacing-3-xl) ;
    }
    @include breakpoint('l'){
        margin-top: var(--spacing-4-xl) ;
        margin-bottom: var(--spacing-4-xl) ;
    }
    &__header{
        margin-top:0;
        font-weight: 600;
    }
    &.no-mb{
        margin-bottom: 0;
    }
    &.no-mt{
        margin-top: 0;
    }
    @each $breakpoint, $size in $breakpoints {
        @include breakpointMax($breakpoint) {
                &.no-mb-up-#{$breakpoint} {
                    margin-bottom: 0;
                }
                &.no-mt-up-#{$breakpoint} {
                    margin-top: 0;
                }
                &.no-m-up-#{$breakpoint} {
                    margin-bottom: 0;
                    margin-top: 0;
                }
        }
    }
}
main{
    .grid_margin{
        .content-top + h2{
                margin-top: 0;
        }
    }
}