@mixin lift-block-light($background){
    background: $background;
    color: $black;
    h1,h2,h3,h4,h5,h6{
        color: $black;
    }
    a{
        color: $black;
    }
    .hds-button{
        &.transparent{
            background-color: transparent;
            border: 4px solid;
            &:hover{
                background-color: rgba(0,0,0,0.1);
                border-color: $black;
            }
        }
    }   
}

@mixin lift-block-dark($background){
    background: $background;
    color: $white;
    h1,h2,h3,h4,h5,h6{
        color: $white;
    }
    a{
        color: $white;
    }
    .hds-button{
        &.transparent{
            background-color: transparent;
            border: 4px solid;
            &:hover{
                background-color: rgba(255,255,255,0.1);
                border-color: $white;
            }
        }
    }   
}

.lift-block{
    h1,h2{
        font-weight: 600;
        font-size: var(--fontsize-heading-l);
    }
    h3,h4,h5{
        font-weight: 600;
        font-size: var(--fontsize-heading-m);
    }
    blockquote{
        font-size: var(--fontsize-heading-m);
    }
    
    &.is-style{
        &-default{
            @include lift-block-light($white);
        }
        &-coat-of-arms{
            @include lift-block-light(var(--color-coat-of-arms));
        }
        &-gold{
            @include lift-block-light(var(--color-gold));
        }
        &-silver{
            @include lift-block-light(var(--color-silver));
        }
        &-brick{
            @include lift-block-light(var(--color-brick));
        }
        &-bus{
            @include lift-block-dark(var(--color-bus));
        }
        &-copper{
            @include lift-block-light(var(--color-copper));
        }
        &-engel{
            @include lift-block-light(var(--color-engel));
        }
        &-fog{
            @include lift-block-light(var(--color-fog)); 
        }
        &-metro{
            @include lift-block-light(var(--color-metro));
        }
        &-summer{
            @include lift-block-light(var(--color-summer));
        }
        &-suomenlinna{
            @include lift-block-light(var(--color-suomenlinna));
        }
        &-tram{
            @include lift-block-light(var(--color-tram));
        }
    }   
}