/* ==================== FOOTER ==================== */

/* ========== GENERAL ========== */
$footer-background-color: var(--color-copper);
$footer-color: $black;

$footer-section-border-width: $default-border-width;
$footer-section-border-style: $default-border-style;
$footer-section-border-color: $black;
$footer-section-border: $footer-section-border-width $footer-section-border-style $footer-section-border-color;
$footer-section-spacing: var(--spacing-layout-s);
